#### Data Preprocessing

In [9]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### importing the dataset

In [10]:
dataset = pd.read_csv('Data.csv')
#get inputs / independent variables separately
#.values ensures that we get x as an array instead of being a pandas subset
X = dataset.iloc[:, :-1].values # :-1 excludes the last colum

#dependent variable / what we are trying to predict
y = dataset.iloc[:, -1].values # takes the last column

In [11]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [5]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

### taking care of missing data

-This can be achieved my using the mean of the values in the colum where the data is missing
- We will compute the average age and replace missing data with average age
- Same thing with salary - take averages
- Use the simpleImputer method from sklearn library

For categorical data the strategy is to replace missing data with the most frequent value

In [13]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy ='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [14]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]